@{
    ViewData["Title"] = "Home Page";
    ViewData["MachineName"] = Environment.MachineName;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>HostName: <b></b>@ViewData["MachineName"]</b></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
